beispiel-3/gesamt/flow-3-gesamt.json
[{"id":"b246d73f.4db928","type":"mqtt-broker","broker":"broker.mqttdashboard.com","port":"1883"},{"id":"d37f66f.f2c8098","type":"function","name":"Temperatur parsen","func":"// OpenWeatherMap JSON Antwort parsen\nvar weather=JSON.parse(msg.payload);\n// Neue Nachricht mit Payload erstellen\nvar newMsg = { payload: weather.main.temp };\n// zurückgeben der Nachricht\nreturn newMsg;","outputs":1,"x":529,"y":238,"wires":[["38d02555.c72fda","65cc5e56.9a33a"]]},{"id":"dcebe1e5.23142","type":"http request","name":"OpenWeather API","method":"GET","url":"http://api.openweathermap.org/data/2.5/weather?q=Munich,DE&units=metric","x":352,"y":238,"wires":[["d37f66f.f2c8098"]]},{"id":"734879bc.8cb788","type":"inject","name":"Jede Stunde","topic":"","payload":"","repeat":"","crontab":"0 */1 * * *","once":true,"x":199,"y":238,"wires":[["dcebe1e5.23142"]]},{"id":"38d02555.c72fda","type":"debug","name":"Temperatur","active":true,"complete":"false","x":697,"y":237,"wires":[]},{"id":"65cc5e56.9a33a","type":"mqtt out","name":"Publish Temp","topic":"nodered/temp","broker":"b246d73f.4db928","x":705,"y":285,"wires":[]},{"id":"a49b1c3b.5b64e","type":"mqtt in","name":"Subscribe Temp","topic":"nodered/temp","broker":"b246d73f.4db928","x":237,"y":411,"wires":[["1084b85a.ef7b48"]]},{"id":"1084b85a.ef7b48","type":"function","name":"Frostprüfung","func":"var temp = msg.payload;\n//Frost?\nif(temp < 0)\n{\n\t//Nachricht zusammenbauen und zurückgeben\n\tmsg.payload = temp + \" Grad. Achtung, Frostgefahr! Bitte Auto in die Garage fahren!\";\n\treturn msg;\n}\nelse\n{\n\t// nichts tun\n}\n\n","outputs":1,"x":418,"y":411,"wires":[["507353f8.af8cac","c4894cd7.3b76b"]]},{"id":"c4894cd7.3b76b","type":"twitter out","twitter":"","name":"Tweet","x":609,"y":412,"wires":[]},{"id":"507353f8.af8cac","type":"debug","name":"Frostwarnung","active":true,"complete":"false","x":611,"y":368,"wires":[]},{"id":"ec4da445.13b258","type":"inject","name":"Frost simulieren","topic":"nodered/temp","payload":"","repeat":"","crontab":"","once":false,"x":315,"y":296,"wires":[["4c74fb91.b38b04"]]},{"id":"4c74fb91.b38b04","type":"function","name":"Zufallstemperatur < 0","func":"//Zufallszahl zwischen -1 bis -30\nmsg.payload = -1 * Math.floor((Math.random()*30)+1);\n\nreturn msg;","outputs":1,"x":504,"y":296,"wires":[["65cc5e56.9a33a"]]}]