beispiel-2/flow-2.json
[{"id":"80b88ac.f7f4778","type":"function","name":"Temperatur ausgeben","func":"// OpenWeatherMap JSON Antwort parsen\nvar weather=JSON.parse(msg.payload);\n// Neue Nachricht mit Payload erstellen\nvar newMsg = { payload: \"Die aktuelle Temperatur in München ist \"+weather.main.temp + \" Grad.\" };\n// zurückgeben der Nachricht\nreturn newMsg;","outputs":1,"x":509,"y":154,"wires":[["95a78721.6a5878","a85b048c.57a4f8"]]},{"id":"dfab033d.2055","type":"http request","name":"OpenWeatherMap API","method":"GET","url":"http://api.openweathermap.org/data/2.5/weather?q=Munich,DE&units=metric","x":309,"y":154,"wires":[["80b88ac.f7f4778"]]},{"id":"27abb11e.d8544e","type":"inject","name":"Wetter anfordern","topic":"","payload":"","repeat":"","crontab":"","once":false,"x":128,"y":154,"wires":[["dfab033d.2055"]]},{"id":"95a78721.6a5878","type":"debug","name":"Ausgabe","active":true,"complete":"false","x":670,"y":118,"wires":[]},{"id":"a85b048c.57a4f8","type":"twitter out","twitter":"","name":"Tweet","x":670,"y":163,"wires":[]}]