beispiel-3/teil-1/flow-3-teil-1.json
[{"id":"b246d73f.4db928","type":"mqtt-broker","broker":"broker.mqttdashboard.com","port":"1883"},{"id":"d37f66f.f2c8098","type":"function","name":"Temperatur parsen","func":"// OpenWeatherMap JSON Antwort parsen\nvar weather=JSON.parse(msg.payload);\n// Neue Nachricht mit Payload erstellen\nvar newMsg = { payload: weather.main.temp };\n// zurückgeben der Nachricht\nreturn newMsg;","outputs":1,"x":492,"y":244,"wires":[["38d02555.c72fda","65cc5e56.9a33a"]]},{"id":"dcebe1e5.23142","type":"http request","name":"OpenWeather API","method":"GET","url":"http://api.openweathermap.org/data/2.5/weather?q=Munich,DE&units=metric","x":315,"y":244,"wires":[["d37f66f.f2c8098"]]},{"id":"734879bc.8cb788","type":"inject","name":"Jede Stunde","topic":"","payload":"","repeat":"","crontab":"0 */1 * * *","once":true,"x":162,"y":244,"wires":[["dcebe1e5.23142"]]},{"id":"38d02555.c72fda","type":"debug","name":"Temperatur","active":true,"complete":"false","x":660,"y":243,"wires":[]},{"id":"65cc5e56.9a33a","type":"mqtt out","name":"Publish Temp","topic":"nodered/temp","broker":"b246d73f.4db928","x":668,"y":291,"wires":[]},{"id":"ec4da445.13b258","type":"inject","name":"Frost simulieren","topic":"nodered/temp","payload":"","repeat":"","crontab":"","once":false,"x":278,"y":302,"wires":[["4c74fb91.b38b04"]]},{"id":"4c74fb91.b38b04","type":"function","name":"Zufallstemperatur < 0","func":"//Zufallszahl zwischen -1 bis -30\nmsg.payload = -1 * Math.floor((Math.random()*30)+1);\n\nreturn msg;","outputs":1,"x":467,"y":302,"wires":[["65cc5e56.9a33a"]]}]
