beispiel-3/teil-2/flow-3-teil-2.json
[{"id":"b246d73f.4db928","type":"mqtt-broker","broker":"broker.mqttdashboard.com","port":"1883"},{"id":"a49b1c3b.5b64e","type":"mqtt in","name":"Subscribe Temp","topic":"nodered/temp","broker":"b246d73f.4db928","x":237,"y":411,"wires":[["1084b85a.ef7b48"]]},{"id":"1084b85a.ef7b48","type":"function","name":"Frostprüfung","func":"var temp = msg.payload;\n//Frost?\nif(temp < 0)\n{\n\t//Nachricht zusammenbauen und zurückgeben\n\tmsg.payload = temp + \" Grad. Achtung, Frostgefahr! Bitte Auto in die Garage fahren!\";\n\treturn msg;\n}\nelse\n{\n\t// nichts tun\n}\n\n","outputs":1,"x":418,"y":411,"wires":[["507353f8.af8cac","c4894cd7.3b76b"]]},{"id":"c4894cd7.3b76b","type":"twitter out","twitter":"","name":"Tweet","x":609,"y":412,"wires":[]},{"id":"507353f8.af8cac","type":"debug","name":"Frostwarnung","active":true,"complete":"false","x":611,"y":368,"wires":[]}]
